<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password Changed Notification</title>
    </head>
    <body>
        <h1>Hi <%= user.name %>,</h1>
        <p>
            Your password has been changed successfully. If you did not make
            this change, please contact our support immediately.
        </p>
        <p>
            If you made this change, you can safely ignore this email. You can
            login with your new password here:
            <a href="<%= loginUrl %>">Login</a>
        </p>
        <p>Thanks,</p>
        <p>The Team</p>
    </body>
</html>
