<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <div>
        <div>
            <h1>Password Reset Request</h1>
        </div>
        <div>
            <p>Hello <%= user.name %>,</p>
            <p>We received a request to reset your password for your account. If you made this request, please click the button below to reset your password. This link will expire in 1 hour.</p>
            <div>
                <a href="<%= resetUrl %>">Reset Password</a>
            </div>
            <p>If you did not request a password reset, please ignore this email or contact support if you have concerns.</p>
            <p>Thanks,<br>The Team</p>
        </div>
        <div>
            <p>&copy; <%= new Date().getFullYear() %> Your Company. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
